@using GreatHRM.Entities
@model IEnumerable<GreatHRM.Entities.User>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Company List</h3>

        <div class="box-tools">
            <a class="btn btn-sm btn-success" href="@Url.Action("Add","User")"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <div class="form-horizontal">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model=>model.FirstOrDefault().DisplayName)</th>
                        <th>@Html.DisplayNameFor(model=>model.FirstOrDefault().UserName)</th>
                        <th>@Html.DisplayNameFor(model=>model.FirstOrDefault().RoleId)</th>
                        <th>@Html.DisplayNameFor(model=>model.FirstOrDefault().Email)</th>
                       
                    </tr>
                    @foreach(var user in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model=>user.DisplayName)</td>
                            <td>@Html.DisplayFor(model=>user.UserName)</td>
                            <td>@Html.DisplayFor(model=>user.UserRole.RoleName)</td>
                            <td>@Html.DisplayFor(model=>user.Email)</td>
                        </tr>
                    }
                </thead>

            </table>
        </div>
    </div>
</div>

