<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | LMS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <!-- Bootstrap 3.3.7 -->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" asp-fallback-href="" />
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->

    <link href="~/Content/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS sidebar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        @Html.Partial("_headerPartial")
        @Html.Partial("_sidebarPartial")


        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2014-@DateTime.Now.Year <a href="http://sahadat.droppages.com">Sahadat Hossen</a>.</strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->

    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>

    <!-- FastClick -->
    <script src="~/Scripts/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Scripts/demo.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
 
    @RenderSection("scripts", required: false)


    <script>
        $(".datePicker").attr('autocomplete', 'off')
        $(".datePicker").datepicker({ autoclose: true, format: 'dd-M-yyyy', todayHighlight: true });
        $('.datePicker').removeAttr("data-val-date");
    </script>

</body>
</html>
